body{
    background-color: rgba(0, 0, 0, 0.678);
    font-family: Pixelify Sans;
}

.num{
    background-color: #825280;
    height: 31px;
    width: 31px;
    cursor: pointer;
}
.cont{
    background-color: #ff8c00;
    height: 31px;
    width: 31px;
    cursor: pointer;
}
.simb{
    background-color: #a0a0a0;
    height: 31px;
    width: 31px;
    cursor: pointer;
}
h1{
    color: aliceblue;
    text-shadow: 10px 5px #ff7300 ;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;
    font-size: 2em; color: #fffdd9;
}
input{
    color: azure;
    background-color: #000000;
}